
body {
  padding: 50px 20px; 
 }

   body main div p {
        text-shadow: 5px 5px 5px #570b15;
        }


        body {
            background: #7b8e9c;
            background: -moz-linear-gradient(45deg, #768c9b 0%, #809aac 72%, #7697ad 100%);
            background: -webkit-linear-gradient(45deg, #899aa5 0%, #738692 72%, #748997 100%);
            background: linear-gradient(45deg, #7b8a94 0%, #879aa7 72%, #83939e 100%);
            }
            body main {
              min-height: 150px;
              text-align: center;
            }

            footer nav div {
              min-height: 150px;
              text-align: center;
            }


            body main div p {
                border: 10px dashed rgba(97, 87, 64, 0.918);
                }

                body header nav img {
                  border: 10px dashed rgba(129, 41, 6, 0.918);
                  position: fixed;
                  
                  }



                