

body {
  background: #557088 url("https://pressstart.vip/images/uploads/assets/cityskyline.png") no-repeat scroll 50% 50%;
  }

body {
  padding: 30px 30px; 
 }

   body main div p {
        text-shadow: 7px 7px 7px #f31717;
      
        }


            body main {
              min-height: 150px;
              text-align: center;
            }

            footer nav div {
              min-height: 150px;
              text-align: center;
            }


            body main div p {
                border: 8px dashed rgba(97, 43, 89, 0.918);
                }

                body header nav img {
                  border: 5px dashed rgba(204, 58, 0, 0.918);
                  position: fixed;
                  
                  }

                  body {
                    font-family: "Comic Sans MS", cursive, sans-serif;
                    font-size: 13px;
                    letter-spacing: 1px;
                    word-spacing: 1px;
                    color: #000000;
                    font-weight: 400;
                    text-decoration: none;
                    font-style: italic;
                    font-variant: normal;
                    text-transform: none;
                    }



                